# This is Git's per-user configuration file.
[alias]
	adog = log --all --decorate --oneline --graph
# Cursor First
[merge]
	keepBackup = false
	tool = cursor
[mergetool "cursor"]
	cmd = ~/ide-scripts/cursor-wait.sh
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[core]
	editor = ~/ide-scripts/cursor-wait.sh
	excludesfile = ~/.gitignore

# VSCode conf
# [merge]
# 	keepBackup = false
# 	tool = vscode
# [mergetool "vscode"]
# 	cmd = code --wait $MERGED
# 	keepTemporaries = false
# 	trustExitCode = false
# 	keepBackup = false
# [core]
# 	editor = code --wait
# 	excludesfile = ~/.gitignore

[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge "ours"]
	driver = true
[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[web]
	browser = chrome
[mergetool]
	keepBackup = false
[push]
	followTags = true
[submodule]
	recurse = true
[user]
	name = csh1314
	email = cshsb@qq.com

[includeIf "gitdir:~/code/self/"]
  path = .gitconfig-self
